body{
	background: url('../img/bg.png') repeat 0 0 #f2f2f2;
}

#header a:active, #header a:hover, #header a:active, #header a:visited
{
	color: #93c54b;
	text-decoration: none;
}

.fa-refresh{
	font-size: 5em;
	color: #999;
	position: relative;
	left: 45%;
	margin-top: 1em;
}