<i class="fa fa-refresh fa-spin" ng-show="loading"></i>
<p ng-hide="loading">Регионалната Дирекция по Горите е издала {{permits.length}} разрешителни за сеч в землище {{permits[0]["Землище"]}} в община {{permits[0]["Община"]}}
<ul class="list-group list-permits">
	<li class="list-group-item" ng-repeat="permit in permits">
		<p><a href="#/permits/{{permit['Номер']}}">{{ permit["Номер"]}}</a></p>
		<p>Дата: {{permit["Дата"]}}</p>
		<p>РДГ: {{permit["РДГ"]}}</p>
		<p>Фирма: {{permit["Фирма"]}}</p>
		<p>Отдел: {{permit["Отдел"]}}</p>
		<p>Буква: {{permit["Буква"]}}</p>
		<p>Кадастрален номер: {{permit["Кадастрален_номер"]}}</p>
		<p>Собственост: {{permit["Собственост"]}}</p>
		<p>Област: {{permit["Област"]}}</p>
		<p>Община: {{permit["Община"]}}</p>
		<p>Землище: {{permit["Землище"]}}</p>
		<p>Марка: {{permit["Марка"]}}</p>
		<p>Боя: {{permit["Боя"]}}</p>
		<p>Количество: {{permit["Количество"]}} куб. м.</p>
		<p>Сеч от: {{permit["Сеч_от_дата"]}}</p>
		<p>Сеч до: {{permit["Сеч_до_дата"]}}</p>
		<p>Извоз от: {{permit["Извоз_от_дата"]}}</p>
		<p>Извоз до: {{permit["Извоз_до_дата"]}}</p>
		<p>Вид_сеч: {{permit["Вид_сеч"]}}</p>
		<p>Сеч: {{permit["Сеч"]}}</p>
		<p>Площ: {{permit["Площ"]}} хектара</p>
		<p>Вид гора: {{permit["Вид_гора"]}}</p>
		<p>Начин на почистване: {{permit["Начин_на_почистване"]}}</p>
		<p>Времемен склад: {{permit["Времемен_склад"]}}</p>

	</li>
</ul>
