<i class="fa fa-refresh fa-spin" ng-show="loading"></i>
<span ng-show="!loading && !dataAvail">404</span>
<div ng-show="dataAvail">
	<h2 style="text-align: center">ПОЗВОЛИТЕЛНО за СЕЧ № {{permit[0]["Номер"]}}/{{permit[0]["Дата"]}}</h2>

	<p>Разрешава се на представител на <strong>{{permit[0]["Фирма"]}}</strong>, да извърши сечта в отдел № <strong>{{permit[0]["Отдел"]}}</strong>; подотдел <strong>{{permit[0]["Буква"]}}</strong>; имот с (кадастрален/КВС) <strong>№ {{permit[0]["Кадастрален_номер"]}}</strong>
Община <strong>{{permit[0]["Община"]}}</strong>; Землище <strong>{{permit[0]["Землище"]}}</strong> площно сечище от <strong>{{permit[0]["Площ"]}}</strong> хектара. Собственост : <strong>{{permit[0]["Собственост"]}}</strong>.
Дърветата са маркирани с контролна горска марка № <strong>{{permit[0]["Марка"]}}</strong>, с <strong>{{permit[0]["Боя"]}}</strong> боя.
Очакваният добив е <strong>{{permit[0]["Количество"]}}</strong> плътни кубически метра лежаща маса.</p>
<p>Срок за провеждане на сечта от <strong>{{permit[0]["Сеч_от_дата"]}}</strong> г. до <strong>{{permit[0]["Сеч_до_дата"]}}</strong> г.</p>
<p>Срок за извозване на материалите от сечището от <strong>{{permit[0]["Извоз_от_дата"]}}</strong> г. до <strong>{{permit[0]["Извоз_до_дата"]}}</strong> г.</p>
<p>Начин на почистване на сечището : <strong>{{permit[0]["Начин_на_почистване"]}}</strong></p>
<p>Материалите ще се извозят до временен склад : <strong>{{permit[0]["Времемен_склад"]}}</strong></p>
</div>