<!DOCTYPE html>
<html ng-app="permitcatApp">
<head>
	<meta charset="UTF-8">
	<title>Позволителни за сеч</title>
	<link rel="icon" type="image/x-icon" href="img/favicon.ico" />
	<link rel="stylesheet" type="text/css' href='https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<style>
		body {
			padding-top:50px;
			background: url('img/bg.png') repeat 0 0 #f2f2f2;
		}
    </style>
</head>

<body>
	<div class="container" >

		<div class="alert alert-info">
			<a href="#"><h1>Позволителни за сеч</h1></a>
		</div>

		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
					<input type="search" class="form-control" placeholder="Провери позволително" ng-model="searchPlace.ime">
				</div>
			</div>
		</form>

		<div ng-controller="PlaceListCtrl">
			<ul class="">
				<li ng-repeat="place in places" ng-show="searchPlace.ime.length >= 3 && ([place] | filter:searchPlace).length > 0 ">
					<a href="#/places/{{place.ime}}-{{place.obshtina}}">{{place.ime}}, {{place.obshtina}}</a>
				</li>
			</ul>
		</div>

		<div ng-view></div>

	</div>
</body>
</html>