<i class="fa fa-refresh fa-spin" ng-show="loading"></i>
<p ng-show="dataAvail">Регионалната Дирекция по Горите е издала {{permits.length}} разрешителни за сеч в землище {{placeName}} в община {{placeObshtina}}</p>
<p ng-show="!loading && !dataAvail">404</p>
<ul class="list-group list-permits">
	<li class="list-group-item" ng-repeat="permit in permits">
		<table class="table table-bordered table-striped">
		<thead>
			<td colspan="2"><a href="#/permits/{{permit['Номер']}}">ПОЗВОЛИТЕЛНО за СЕЧ № {{permit["Номер"]}}/{{permit["Дата"]}}</a></td>
		</thead>
		<tbody>
			<tr>
				<td>Дата</td><td>{{permit["Дата"]}}</td>
			</tr>
			<tr>
				<td>РДГ</td><td>{{permit["РДГ"]}}</td>
			</tr>
			<tr>
				<td>Фирма</td><td>{{permit["Фирма"]}}</td>
			</tr>
			<tr>
				<td>Подотдел</td><td>{{permit["Отдел"]}} {{permit["Буква"]}}</td>
			</tr>
			<tr>
				<td>Кадастрален номер</td><td>{{permit["Кадастрален_номер"]}}</td>
			</tr>
			<tr>
				<td>Собственост</td><td>{{permit["Собственост"]}}</td>
			</tr>
			<tr>
				<td>Област</td><td>{{permit["Област"]}}</td>
			</tr>
			<tr>
				<td>Община</td><td>{{permit["Община"]}}</td>
			</tr>
			<tr>
				<td>Землище</td><td>{{permit["Землище"]}}</td>
			</tr>
			<tr>
				<td>Марка</td><td>{{permit["Марка"]}}</td>
			</tr>
			<tr>
				<td>Боя</td><td>{{permit["Боя"]}}</td>
			</tr>
			<tr>
				<td>Количество</td><td>{{permit["Количество"]}} куб. м.</td>
			</tr>
			<tr>
				<td>Сеч</td><td>от {{permit["Сеч_от_дата"]}} г. до {{permit["Сеч_до_дата"]}} г.</td>
			</tr>
			<tr>
				<td>Извоз</td><td>от {{permit["Извоз_от_дата"]}} г. до {{permit["Извоз_до_дата"]}} г.</td>
			</tr>
			<tr>
				<td>Вид сеч</td><td>{{permit["Вид_сеч"]}}</td>
			</tr>
			<tr>
				<td>Площ</td><td>{{permit["Площ"]}} хектара</td>
			</tr>
			<tr>
				<td>Вид гора</td><td>{{permit["Вид_гора"]}}</td>
			</tr>
			<tr>
				<td>Начин на почистване</td><td>{{permit["Начин_на_почистване"]}}</td>
			</tr>
			<tr>
				<td>Времемен склад</td><td>{{permit["Времемен_склад"]}}</td>
			</tr>
		</tbody>
		</table>
	</li>
</ul>
