<?php
include("class.db.php");

function getDB() {
	$dbhost="localhost";
	$dbuser="";
	$dbpass="";
	$dbname=""; 
	$dbConnection = new db("mysql:host=$dbhost;dbname=$dbname", $dbuser, $dbpass);
	$dbConnection->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
	return $dbConnection;
}
?>